<!DOCTYPE html>
<html>
    <head>
        <title>Почему в производстве кормов для домашних животных важен научный подход?</title>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html">
        <meta name="author" content="Васильев Алексей">
        <meta name="description" content="Почему в производстве кормов для домашних животных важен научный подход">
        <meta name="keywords" content="новости, интересные статьи, вискас, whiskas, Почему в производстве кормов для домашних животных важен научный подход">
        <link rel="stylesheet" href="../styles/news-main.css">
        <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
        <link rel="shortcut icon" href="../assets/logo.png" type="text/x-icon">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" 
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    </head>
    <body>
        <nav id="nav" :class="navClass.mainNav"> 
            <div>
                <img class="logo" src="../assets/logo.png">
                <a class="navbar-brand p-0" href="../index.html" style="color: #fdebf2"><h1>Whiskas</h1></a>
            </div>
            <button type="button" class="navbar-toggler hidden-lg-up" data-toggle="collapse" data-target="#dropDownMenu" aria-expanded="false">
                &#9776;
            </button>
            <div :class="navClass.menu" id="dropDownMenu">
                <ul class="navbar-nav">
                    <li class="nav-item mx-auto" v-for="item in url"> 
                        <li-item v-bind:href="item.href" v-bind:todo="item"></li-item>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="main" class="container">
            <div class="row">
                <div class="author_date col-md-8 d-flex">
                    <p v-for="val in authors[1]">{{ val }}</p>
                </div>
                <div class="col-12"><h3 class="news_header">{{ headers[1].title }}</h3></div>
                <div class="description col-12">
                    <news-img v-bind:src="headers[1].src[0]"></news-img>
                    <h3><span>1. Кошкам необходим таурин: во влажном корме его должно быть больше, чем в сухом.</span></h3>
                    <p>
                        Таурин — жизненно важная и незаменимая для здоровья кошек сульфокислота. В отличие от собак, которые могут синтезировать 
                        таурин из других веществ (к примеру, из таких аминокислот, как метионин или цистеин), кошки не способны вырабатывать его 
                        самостоятельно. Именно поэтому таурин должен поступать в их организм в достаточном количестве вместе с пищей. Недостаток 
                        таурина приводит к серьезным последствиям: нарушениям работы сердца, органов зрения, нервной и пищеварительной систем. 
                    </p>
                    <p>
                        В 1991 году специалистам WALTHAM впервые удалось определить необходимый уровень таурина в готовых кормах. Выяснилось, 
                        что во влажных кормах уровень таурина должен быть примерно вдвое выше, чем в сухих, так как при переваривании влажного 
                        корма таурин усваивается гораздо хуже. 
                    </p>
                    <p>
                        Эти данные нашли отражение во всех кормах Whiskas. Покупая готовые рационы Whiskas, владельцы 
                        кошек могут быть уверены, что их питомец ежедневно будет получать необходимую норму таурина.
                    </p>

                    <h3><span>2. Потребность кошки в калориях не зависит напрямую от веса животного.</span></h3>
                    <p>
                        По сравнению со взрослой кошкой котенок должен ежедневно потреблять значительно больше калорий для поддержания 
                        своего организма в период активного роста. Взрослой особи в среднем нужно около 208 ккал в день, в то время как 
                        котенку до года — почти в 1,5 раза больше. 
                    </p>
                    <p>
                        Рацион стерилизованного или кастрированного питомца ввиду замедленного метаболизма должен быть на 
                        20% менее калорийным по сравнению с ежедневной нормой обычной кошки.
                        Благодаря WALTHAM®, были определены дневные нормы потребления калорий для котят, взрослых, пожилых, 
                        а также стерилизованных и кастрированных кошек, что нашло отражение в рецептуре рационов Whiskas для 
                        животных разных возрастов или с особыми потребностями. 
                    </p>
                    <p>
                        Кроме того, не рекомендуется давать животному избыточное количество корма, чтобы избежать переедания. Мы призываем 
                        ответственных владельцев питомцев следовать приведенным на упаковках нормам кормления. 
                    </p>

                    <h3><span>3. При достаточном количестве витамина D кошкам и котятам нужно меньше кальция, чем считалось ранее.</span></h3>
                    <news-img v-bind:src="headers[1].src[1]"></news-img>
                    <p>
                        Витамин D — важный элемент, который способствует усвоению кальция и фосфора организмом. Его нехватка может вызвать 
                        рахит и другие тяжелые заболевания. Но его присутствие в организме сверх нормы еще опаснее, так как грозит интоксикацией. 
                        Поэтому следование рекомендациям по нормам этого витамина для питомцев разных возрастов — один из важнейших этапов 
                        разработки готового рациона. Баланс витамина D, кальция и фосфора должен быть строго выверенным. Мы позаботились о 
                        том, чтобы в кормах Whiskas было достаточно витамина D, кальция и фосфора для нормального роста и развития вашего питомца.  
                    </p>

                    <h3><span>4. Кошки должны получать не менее 10% энергии из белка.</span></h3>
                    <p>
                        Протеины, или белки, играют первостепенную роль в функционировании организма кошек. Они участвуют в работе всех органов 
                        и поддержании внутренних биохимических процессов. Исследования WALTHAM® показали, что для нормального обмена веществ 
                        кошка должна получать минимум 10% дневной нормы энергии из белковой пищи. Это является нижней границей нормы для 
                        поддержания метаболизма животного. 
                    </p>
                    <p>
                        Кошки, являясь истинными плотоядными, прекрасно адаптированы к перевариванию мяса. Поэтому в каждом кусочке влажных 
                        кормов Whiskas содержится не менее 80% мясных ингредиентов. Потребляя влажный корм Whiskas, ваш любимец будет 
                        получать более 30% необходимой ему энергии из белков. 
                    </p>

                    <h3><span>5. Снижение калорийности корма снижает скорость набора веса у кошек.</span></h3>
                    <p>
                        Избыточный вес — одна из самых распространенных проблем домашних животных во всем мире. Малоподвижный образ жизни 
                        и перекармливание способствуют тому, что питомец набирает лишние килограммы. Однако исследование WALTHAM 
                        показало, что даже при неограниченном доступе к корму кошки, которые потребляли рацион с высоким уровнем влажности, 
                        в среднем набирали вес медленнее и были более активными, чем те, кто ел только сухой корм. 
                    </p>
                    <p>
                        Для поддержания здоровья и активности вашего питомца мы рекомендуем комбинировать кормление сухим и влажным кормом. 
                        Это позволит сочетать преимущества сухого (поддержание здоровья зубов) и влажного рационов (низкая по сравнению с сухим 
                        кормом калорийность и увеличение потребления влаги). 
                    </p>
                    <p>
                        Результаты исследований доказывают, что создание полноценного, сбалансированного рациона для кошки — это целая наука. 
                        Важно не только определять питательность каждого рациона, но и понимать физиологические потребности кошек. Производители 
                        таких готовых полнорационных кормов, как WHISKAS®, на протяжении многих лет тщательно выверяют и улучшают рецептуры 
                        своей продукции, чтобы каждый питомец как можно дольше оставался здоровым и активным. 
                    </p>
                </div>
                <div class="col-12">
                    <form method="GET">
                        <p><b>Оставьте комментарий</b></p>
                        <div>
                            <label for="name">Имя:
                                <input id="name" v-model="name" name="name" class="form-control" type="text" placeholder="Введите имя" tabindex="1" required>
                            </label>
                        </div>
                        <div>
                            <label for="comment">Текст комментария:
                                <textarea id="comment" v-model="comment" name="comment" class="form-control" cols="50" rows="3" wrap="hard" tabindex="2" required></textarea>
                            </label>
                        </div>
                        <button type="submit" class="btn btn-outline-success" v-on:click.prevent="addNewComment">Отправить</button>
                        <button type="reset" class="btn btn-outline-success">Очистить</button>
                    </form>
                    <comment v-for="text in comments" :key="text.id" :word="text"></comment>
                </div>
            </div>
        </div>

        <div class="row footer m-0">
            <div :class="footerStyle.footer">
                <p v-for="link in inf[0]">{{ link }}</p>
            </div>
            <div :class="footerStyle.footer">
                <p v-for="link in inf[1]">{{ link }}</p>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="../scripts/news.js"></script>
    </body>
</html>