@import url(style-desktop.css);

.main{
    margin-top: 4.5vw;
}
.main p{
    font-size: 1.2vw;
}
.main h3{
    font-size: 2.5vw;
}
.total h3{
    font-size: 2vw;
}
label{
    font-size:1.3vw;
}
.feed_img{
    height: 20vw;
    margin: 1% 20px ;
    float: left;
}