@media (max-width:991px){
    
    
    
    form p{
        font-size:2.2vw;
    }
    label{
        font-size:2vw;
    }
}
@media (min-width:768px) and (max-width:991px){
    .author_date p, .footer, .btn_pink{
        font-size: 1.6vw;
    }
    .navbar-nav li{
        font-size: 20px;
    }
    
    .news_header{
        font-size: 3vw;
    }
}
@media (max-width:767px){
    
    .navbar-nav li{
        font-size: 25px;
    }
    
    
}