@import url(style-adaptive.css);

.background_cat{
    height:65vw;
}
#main{
    margin-top:60px;
}
#main p{
    font-size:2vw;
}
.headline{
    font-size:2.5vw;
}
.cat_feed{
    display: flex;
    margin-top: 10px;
    border:2px solid #931773;
    background-color: #eed0db;
}
.cat_feed h3{
    font-size:2.3vw;
    font-weight: 700;
}
.cat_feed p{
    font-size: 1.6vw;
}
.feed_img{
    height: 30vw;
    margin: 1% 20px ;
    width:20vw;
}
#product p{
    color: #f0dae2;
    font-size: 3vw;
}