@import url(main-desktop.css) (min-width:991px);
@import url(main-mobile.css) (max-width:990px);

.background_cat{
    width: 100%;
}
.headline{
    font-weight: 700;
    text-align: center;
}
#product{
    text-align: center;
    background-color: #931773;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: 600;
    color:#f0dae2;
    letter-spacing: 3px;
}
.description{
    text-align: justify;
    font-size: 1.1vw;
}
.description p{
    margin:0;
    color:rgb(53, 53, 53);
}
.cat_feed h3{
    margin-top: 10px;
}
.cat_feed{
    display: flex;
    margin-top: 10px;
    border:2px solid #931773;
    background-color: #eed0db;
}
.cat_feed p{
    margin:0;
}
