@import url(global.css);
@import url(main-desktop.css);
@import url(main-tablet.css);
@import url(main-mobile.css);

#cat_div{
    grid-area: cat;
}
#cat_div img{
    width: 100%;
}
#main{
    grid-area: main;
}
#main p{
    margin-top: 0;
    margin-bottom: 4px;
}
.headline{
    margin-top: 0;
    margin-bottom: 2px;
    text-align: center;
}
#preim_osob{
    text-align: justify;
    margin-left: 10px;
    margin-right: 15px;
    grid-area:preim;
    font-size: 1.2vw;
}
#short_inf{
    text-align: justify;
    margin-left: 15px;
    margin-right: 10px;
    grid-area: inf;
    font-size: 1.2vw;
}
#product{
    text-align: center;
    background-color: #931773;
    margin-top: 10px;
    border-radius: 5px;
    grid-area: product;
}
.cat_feed{
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    border:2px solid #931773;
    background-color: #eed0db;
    font-size: 1.2vw;
}
.cat_feed p{
    margin: 0;
    margin-right: 2%;
}
.cat_feed h3{
    margin-top: 10px;
    margin-bottom: 5px;
}