body{
    background-color: #ffecf3;
    color:#931773;
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0;
}
header{
    
    position: fixed;
    grid-area: header;
    background-image: -moz-linear-gradient(90deg,#811565,#931773,#a51881);
    background-image: -webkit-linear-gradient(90deg,#811565,#931773,#a51881);
    background-image: -o-linear-gradient(90deg,#811565,#931773,#a51881);
    color: #f0dae2;
    z-index: 1;
    width:100%;
}
#whiskas h1{
    margin-bottom: 0;
}
#name{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 3vw;
    margin-top:0;
    margin-left:10px;
}
#header_buttons{
    margin-top:0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    grid-area: header_buttons;
}
.head_button{
    font-size: 2.2vw;
    font-family: 'Philosopher',Verdana, sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    background-color:#370b48 ;
    width:60%;
    height: 2.8vw;
    margin-top: 3px;
    margin-right: 30px;
    border: 2px solid #ffecf3;
    text-align: center;
    color: #f0dae2;
}
.head_button p{
    margin-top: 2%;
}
#cat_div{
    grid-area: cat_div;
}
#cat_div img{
    width: 100%;
}
#main{
    /* margin-top: 10px; */
    grid-area: main;
    font-size: 16px;
}
#main p{
    margin-top: 0;
    margin-bottom: 4px;
}
.headline{
    margin-top: 0;
    margin-bottom: 2px;
    text-align: center;
}
#preim_osob{
    text-align: justify;
    margin-left: 10px;
    margin-right: 15px;
    grid-area:preim_osob;
    font-size: 1.2vw;
}
#short_inf{
    text-align: justify;
    margin-left: 15px;
    margin-right: 10px;
    grid-area: short_inf;
    font-size: 1.2vw;
}
#product{
    text-align: center;
    background-color: #931773;
    margin-top: 10px;
    border-radius: 5px;
    grid-area: product;
}
#product p{
    margin-top:15px;
    letter-spacing: 3px;
    font-weight: bold;
    color: #f0dae2;
    font-size: 35px;
}
.cat_feed{
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    border:2px solid #931773;
    background-color: #eed0db;
    font-size: 1.2vw;
}
.cat_feed img{
    height: 100%;
    margin: 1% 20px ;
    width:20%;
} 
.cat_feed p{
    margin: 0;
    margin-right: 2%;
}
.cat_feed h3{
    margin-top: 10px;
    margin-bottom: 5px;
}
#footer{
    font-size: 0.7vw;
    margin-top: 20px;
    background-image: -moz-linear-gradient(90deg,#a51881,#931773,#811565);
    background-image: -webkit-linear-gradient(90deg,#a51881,#931773,#811565);
    background-image: -o-linear-gradient(90deg,#a51881,#931773,#811565);
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    color:#f0dae2;
    grid-area: footer;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.contact p{
    margin:3px;
}
.first{
    grid-area: first;
}
.second{
    grid-area: second;
}
.third{
    grid-area: third;
}
.fourth{
    grid-area: fourth;
}
.fifth{
    grid-area: fifth;
}

@media screen and (min-width: 1024px){
    .grid-container{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 0.15fr 0.35fr 0.35fr 0.15fr;
        grid-template-rows: 0.1fr 1fr 80px 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 80px;
        grid-template-areas: 'header header header header'
                            'main main main main'
                            '. product product .'
                            '. first first .'
                            '. second second .'
                            '. third third .'
                            '. fourth fourth .'
                            '. fifth fifth .'
                            'footer footer footer footer';
    }
    header{
        display: grid;
        grid-template-columns: 0.3fr 0.4fr 0.3fr;
        grid-template-rows: 100%;
        grid-template-areas:'whiskas . header_buttons'
    }
    #main{
        display:grid;
        grid-template-columns: 0.27fr 0.46fr 0.27fr;
        grid-template-rows: 1fr;
        grid-template-areas:'short_inf cat_div preim_osob'
    }
    #whiskas img{
        height: 3.5vw;
        /* height: 60px; */
        width:5vw;
    }
    #whiskas{
        display: flex;
        justify-content: flex-start;
        grid-area:whiskas;
    }
}

/* @media screen and (min-width:769) and (max-width:1023){
    .grid-container{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 0.5fr 0.5fr;
        grid-template-rows: 60px 10fr 1fr 80px 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 80px;
        grid-template-areas: 'header header'
                            'cat_div preim_osob'
                            'short_inf preim_osob'
                            'product product'
                            'first first'
                            'second second'
                            'third third'
                            'fourth fourth'
                            'fifth fifth'
                            'footer footer';
    }
    header{
        display: grid;
        grid-template-columns: 0.5fr 0.2fr 0.3fr;
        grid-template-rows: 60px;
        grid-template-areas:'whiskas . header_buttons'
    }
    #main{
        display:grid;
        grid-template-columns: 0.5fr 0.5fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:'cat_div preim_osob'
                            'short_inf preim_osob';
    }
    #whiskas{
        display: flex;
        justify-content: flex-start;
        grid-area:whiskas;
    }
    #whiskas img{
        height:10px;
        width:10px;
    }
} */