@import url(style-adaptive.css);

.background_cat{
    height:65vw;
}
#main{
    margin-top:60px;
}
.headline{
    font-size:2.5vw;
}
.cat_feed{
    display: flex;
    margin-top: 10px;
    border:2px solid #931773;
    background-color: #eed0db;
}
.feed_img{
    height: 30vw;
    margin: 1% 20px ;
    width:20vw;
}
#product p{
    color: #f0dae2;
}
.description{
    font-size: 2.2vw;
}
.description h3{
    font-size:3.5vw;
}