p{
    font-size: 2vw;
}
h3{
    font-size: 2.5vw;
}

.grid-container{
    display:grid;
    grid-gap: 10px;
    grid-template-columns: 0.1fr 0.8fr 0.1fr;
    grid-template-rows: 0.07fr 0.04fr 1fr 0.08fr 0.6fr 0.65fr 0.62fr 0.7fr 0.65fr 0.1fr;
    grid-template-areas: 'header header header'
                        '. . .'
                        'main main main'
                        'product product product'
                        '. first .'
                        '. second .'
                        '. third .'
                        '. fourth .'
                        '. fifth .'
                        'footer footer footer'
}
#main{
    display:flex;
    align-items: center;
    flex-direction: column;
}

header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr;
    grid-template-areas:'whiskas'
                        'header_buttons'
}

#whiskas{
    display: grid;
    grid-area:whiskas;
    font-size: 4vw;
    grid-template-columns: 1fr;
    grid-template-areas: 'name';
    text-align: center;
}
.logo{
    display:none;
}
.head_button p{
    font-size: 6vw;
    margin: 0;
}
.head_button{
    border:0;
    border-left: 1px solid #ffecf3;
    border-right: 1px solid #ffecf3;
    height:100% ;
    width:50%;
    margin:0;
}
#header_buttons{
    height:100%;
}

.cat_feed{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    border:2px solid #931773;
    background-color: #eed0db;
    font-size: 1.2vw;
}
.feed_img{
    height: 50vw;
    margin: 1% 20px ;
    width:35vw;
    float:left;
} 
.background_cat{
    height:65vw;
}
#product p{
    margin:2% 0 2% 0;
    letter-spacing: 3px;
    font-weight: bold;
    color: #f0dae2;
    font-size: 5vw;
}