p{
    font-size: 1.1vw;
}
h3{
    font-size: 1.5vw;
}

.grid-container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 0.15fr 0.35fr 0.35fr 0.15fr;
    grid-template-rows: 0.1fr 1fr 80px 0.5fr 0.4fr 0.4fr 0.4fr 0.4fr 0.1fr;
    grid-template-areas: 'header header header header'
                        'main main main main'
                        '. product product .'
                        '. first first .'
                        '. second second .'
                        '. third third .'
                        '. fourth fourth .'
                        '. fifth fifth .'
                        'footer footer footer footer';
}

header{
    display: grid;
    grid-template-columns: 0.3fr 0.4fr 0.3fr;
    grid-template-rows: 100%;
    grid-template-areas:'whiskas . header_buttons'
}

#main{
    display:grid;
    grid-template-columns: 0.27fr 0.46fr 0.27fr;
    grid-template-rows: 1fr;
    grid-template-areas:'inf cat preim'
}

.logo{
    height: 3.5vw;
    width:5vw;
}
#whiskas{
    display: flex;
    justify-content: flex-start;
    grid-area:whiskas;
}
.head_button{
    height: 2.8vw;
    width:60%;
    margin-right: 30px;
    margin-top: 3px;
}
.head_button p{
    font-size: 2.2vw;
}
#name{
    font-size: 3vw;
}

.feed_img{
    height: 20vw;
    margin: 1% 20px ;
    width:15vw;
} 
#product p{
    margin:2% 0 2% 0;
    letter-spacing: 3px;
    font-weight: bold;
    color: #f0dae2;
    font-size: 35px;
}