@import url(news-main.css);

.header-link:hover{
    text-decoration: none;
    color:rgb(73, 0, 156);
}
.btn-pink{
    margin:15px 0 20px 0;
}
.description a{
    color:#370b48;
}
.btn_pink{
    border: 1px solid #931773;
    background-color: transparent;
    color: #931773;
    text-align: center;
    border-radius: 5px;
}
.news-link a{
    color: #931773;
}
.news-link{
    margin:1vw 0 1.2vw 0;
}
.btn_pink:hover{
    background-color: #a51881;
    text-decoration: none;
    color:#ffecf3;
}
.author_date{
    display: flex;
    margin: 10px 0 0 0;
}
.description p{
    margin: 0;
    text-align: justify;
    color:rgb(53, 53, 53);
}
.news_img{
    width:100%;
    height: 100%;
    margin:0 10px 0 0;
    border-radius: 10px;
}
.footer{
    background-color: #931773;
    text-align: center;
    color:#f0dae2;
}
.footer p{
    margin:3px;
}
#buttons{
    margin-top:10px;
    margin-right:40px;
    float: right;
}
.img-link{
    margin:15px;
}
.comment h4{
    font-size:3vw;
}
.comment p{
    font-size:1.4vw;
}