@import url(style-desktop.css);

.container{
    max-width: 80%!important;
    margin-top:4vw;
}
.btn_pink{
    /* padding: 0.6vw 0.9vw; */
    font-size: 3vw;
    font-weight: 600;
}
.description h3{
    font-size: 1.9vw;
}
.author_date p, .footer{
    font-size: 1.2vw;
}
.description p{
    font-size: 1.3vw;
}
.news_header{
    font-size: 2.5vw;
}
#toggleView{
    position: absolute;
    margin-top:10px;
    margin-left:85vw;
    margin-right: 20px;
    /* width:12vw; */
}
#toggleView p{
    font-size:1.2vw;
}
.btn-info{
    text-align: center;
    /* width:45%; */
    height: 100%;
}