@import url(style-desktop.css);

.container{
    max-width: 80%!important;
    margin-top:4vw;
}
.btn_pink{
    padding: 0.6vw 0.9vw;
}
.description h3{
    font-size: 1.9vw;
}
.author_date p, .footer, .btn_pink{
    font-size: 1.2vw;
}
.description p{
    font-size: 1.3vw;
}
.news_header{
    font-size: 2.5vw;
}