@import url(global.css);

.author_date{
    display: flex;
    justify-content: flex-start;
    margin: 10px 0 0 0;
    font-size: 15px;
    grid-area: author_date;
}
.author_date p{
    margin: 0 20px 0 0;
}
.description{
    grid-area: description;
}
.description img{
    width:50%;
    float: left;
    margin:0 10px 0 0;
    box-shadow: 1px 1px 3px 0;
}
.description p{
    margin: 0;
}
.news_header{
    margin: 5px 0 10px 0;
    font-size: 25px;
    color:#370b48;
    grid-area: news_header;
}
.txt_area{
    margin-top:10px;
    width:100%;
    height:120px;
    background-color: white;
    border:1px solid #370b48;
    grid-area: txt_area;
}

.first{
    grid-area: first;
}
.second{
    grid-area: second;
}
.third{
    grid-area: third;
}

@media screen and (min-width: 1024px){
    .grid-container{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 0.1fr 0.4fr 0.4fr 0.1fr;
        grid-template-rows: 0.1fr 0.7fr 0.7fr 0.7fr 80px;
        grid-template-areas: 'header header header header'
                            '. first first .'
                            '. second second .'
                            '. third third .'
                            'footer footer footer footer';
    }
    header{
        display: grid;
        grid-template-columns: 0.3fr 0.4fr 0.3fr;
        grid-template-rows: 100%;
        grid-template-areas:'whiskas . header_buttons'
    }
    .news{
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
        grid-template-rows: 0.05fr 0.1fr 1fr 0.5fr;
        grid-template-areas:'author_date .'
                            'news_header news_header'
                            'description description'
                            'txt_area txt_area';
    }
    #whiskas img{
        height: 3.5vw;
        width:5vw;
    }
    #whiskas{
        display: flex;
        justify-content: flex-start;
        grid-area:whiskas;
    }
}