@import url(main.css);

#product{
    text-align: center;
    background-color: #931773;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: 600;
    color:#f0dae2;
    letter-spacing: 3px;
}
#product p{
    margin-bottom:10px;
}
.cat_feed h3{
    margin-top: 10px;
}
.cat_feed{
    display: flex;
    margin-top: 10px;
    border:2px solid #931773;
    background-color: #eed0db;
}
.cat_feed p{
    margin:0;
}