@import url(products-desktop.css) (min-width:991px);
@import url(products-mobile.css) (max-width:990px);

#product{
    text-align: center;
    background-color: #931773;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: 600;
    color:#f0dae2;
    letter-spacing: 3px;
}
.cat_feed h3{
    margin-top: 10px;
}
.cat_feed{
    display: flex;
    margin-top: 10px;
    border:2px solid #931773;
    background-color: #eed0db;
    margin-bottom:15px;
}
.cat_feed p{
    margin:0;
}