@import url(style-desktop.css);

#main{
    margin-top:4vw;
}
#product p{
    font-size: 2.6vw;
    margin-bottom:7px;
}
.cat_feed h3{
    font-size:1.8vw;
    font-weight: 600;
}
.cat_feed h4{
    margin-top:5px;
    font-size:1.3vw;
}
.cat_feed p{
    font-size: 1.1vw;
    margin:0;
}
.feed_img{
    height: 20vw;
    margin: 1% 20px ;
    float: left;
}