body{
    background-image: linear-gradient(#ffecf3,#ffecf3);
}
span{
    font-weight: bold;
}
nav{
    background-image: linear-gradient(0,#811565,#931773,#a51881);
    z-index: 1;
    height: 50px;
}
    
.active a{
    color:#fff7fa;
}
.navbar-brand h1{
    font-size: 3vw;
    font-weight: 600;
    margin:-4px 2px 0 0;
}
.navbar-nav li a{
    padding:0.3vw;
}
.navbar-nav li{
    letter-spacing: 2px;
    border-left: 1px solid #370b48;
    text-align: center;
}
.nav-link:hover{
    background-image: linear-gradient(0,#961676,#931773,#911870);
    color:#fff7fa;
}
.nav-link{
    font-size: 1.7vw;
    color: #d1bec5;
    margin:0;
}
.logo{
    height: 3.5vw;
    width:5vw;
}
.description h3{
    margin-top:10px;
    font-size: 1.9vw;
}
.description p{
    margin-bottom: 10px;
    font-size: 1.3vw;
    color:rgb(53, 53, 53);
}
.news_header{
    color:#370b48;
    text-align: center;
    font-size: 3vw;
    font-weight: 700;
}
.news_img{
    width:100%;
}
.news{
    margin-bottom:1.8vw;
}
.author_date{
    display: flex;
    margin: 10px 0 0 0;
}
.author_date p{
    font-size: 1.3vw;
    margin: 0 20px 0 0;
}
.footer{
    font-size: 1.2vw;
    background-color: #931773;
    text-align: center;
    color:#f0dae2;
}
.footer p{
    margin:3px;
}